{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "../../packages/eslint-configs/base.js",
    "../../packages/eslint-configs/typescript.js"
  ],
  "env": {
    "node": true,
    "jest": true
  }
}