{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "effector"
  ],
  "extends": [
    "../../packages/eslint-configs/base.js",
    "../../packages/eslint-configs/typescript.js",
    "plugin:effector/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0
  }
}